# ===================================================================
# artellapipe-tools-artellauploader requirements file
# ===================================================================

artellapipe-core