# ===================================================================
# artellapipe-tools-playblastmanager requirements file
# ===================================================================

artellapipe